{% extends 'base.html' %}
{% block body %}
    <h1>{{ the_title }}</h1>
    <form action='/lunch' method="post">
        Your Name:
        <input type="text" name="name"><br>
        Cost of a Lunch:
        <input type="text" name="cost"><br>
        Days Buying Lunch:
        <input type="number" name="days"><br>
        <input type="submit" value="Calculate">
    </form>
    {% if name %}
        {# Autoescape turned off for demo, should never be done for production #}
        {% autoescape false %}
            <p>{{ name }} will have lunchcost: {{ lunchCost }}</p>
        {% endautoescape %}
    {% endif %}
{% endblock %}